In [1]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(0,5):
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [3]:
x = 1
for i in range(0,5):
    print(x)

1
1
1
1
1

In [24]:
x = 1
for i in range(0,5):
    print(x + i)

1
2
3
4
5

# Calculate the factorial of a number

In [25]:
#5!=1*2*3*4*5
x = 1
for i in range (1,6):
    x = x*i
    print(x)

1
2
6
24
120

In [6]:
x = 1
for i in range (1,6):
    x = x*i
print(x)

120

In [28]:
x = 10
for i in range (0,5):
    x = x-1
    print(i,x)

0 9
1 8
2 7
3 6
4 5

In [29]:
y = int(input('Please enter Number:') )
x = 1
for i in range (1,y+1):
    x = x*i
print(x)

Please enter Number:5
120

In [9]:
l1 = ['black', 'white', 'blue', 'red']

In [14]:
for i in l1:
    print(i)

black
white
blue
red

In [15]:
for i in range(0,len(l1)):
    print(l1[i])

black
white
blue
red

In [1]:
i = 0
while (i < 5):
    print(i)
    i = i+1

0
1
2
3
4

In [17]:
i = 0
while (i < 5):
    print(i)
    i = i+2

0
2
4

In [27]:
i = 0
j = 0
while (i + j < 10):
    print(i,j)
    i = i+1
    j = j+2

0 0
1 2
2 4
3 6

In [21]:
def f(x):
    cal = x**2 + 2*x - 1
    return cal
f(3)

14

# Break

In [11]:
for i in range(1,5):
    if(i==3):
        print('i is 3')
        break
    print(i)

1
2
i is 3

In [12]:
l1 = [10,20,104,40,50,60]

for i in l1:
    if i == 40:
        print('good')
        break
    print(i)

10
20
104
good

In [1]:
i = 0
while (i<5):
    print(i)
    if (i == 3):
        break
    i = i + 1

0
1
2
3

 # Continue

In [4]:
for i in range(1,5):
    if(i==3):
        print('we are skipping 3')
    print(i)

1
2
we are skipping 3
3
4

In [5]:
for i in range(1,5):
    if(i==3):
        print('we are skipping 3')
        continue
    print(i)

1
2
we are skipping 3
4

In [11]:
l1 =[10,30,20,30,30,20,50]

for i in l1:
    if i ==30:
        print ('skipping 30')
        continue
    if i == 20:
        print('breaking the loop')
        break
    print(i)

10
skipping 30
breaking the loop

## FUNCTION

In [16]:
def f(x):
    y = x**3
    return(y)

In [17]:
f(2)

8

In [18]:
def addition(x,y,z):
    add = x + y + z
    print(add)

In [19]:
addition(10,20,30)

60

In [25]:
def addMul(x,y,z):
    add = x + y + z
    Mul = x * y * z
    print(add)
    print(Mul)

In [26]:
addMul(10,20,30)

60
6000

In [27]:
type(addMul)

function

In [28]:
type(addMul(10,20,30))

60
6000

NoneType

In [35]:
def factorial(x):
    fact = 1
    for i in range(1,x+1):
        fact = fact*i
        
    return(fact)

In [36]:
factorial(3)

6

In [1]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return x*factorial(x-1)

In [2]:
factorial(5)

120

In [8]:
def fibonacci(x):
    if (x == 1):
        return 0
    elif (x == 2):
         return 1
    else:
        return (fibonacci(x-1)+fibonacci(x-2))
        
        
fibonacci(9)

21

In [21]:
x = int(input('Enter No. for fibonacci series'))
l1 = []
for i in range (1, x+1):
    l1.append(fibonacci(i))
str1=''
for i in l1:
    str1 = str1 + " " +str(i)
print(str1)

Enter No. for fibonacci series7
 0 1 1 2 3 5 8

# Sets

In [26]:
A = {2,3,1,4,4,2,0, False, True}

In [27]:
A

{0, 1, 2, 3, 4}

In [28]:
set(A)

{0, 1, 2, 3, 4}

In [30]:
B = tuple(A)

In [31]:
B

(0, 1, 2, 3, 4)

In [33]:
set(B)

{0, 1, 2, 3, 4}

# Nested Dictionary

In [3]:
student = {'Gary': {'mathematics': 85,'Science':76},
    'Martina':{'mathematics':98,'Science':99}}

In [4]:
student

{'Gary': {'mathematics': 85, 'Science': 76},
 'Martina': {'mathematics': 98, 'Science': 99}}

In [6]:
student['Gary']['mathematics']

85

In [13]:
for i in student:
    print(i, student[i])

Gary {'mathematics': 85, 'Science': 76}
Martina {'mathematics': 98, 'Science': 99}

In [15]:
for i in student:
    print(i, 'got', student[i]['mathematics'], 'marks in mathematics')

Gary got 85 marks in mathematics
Martina got 98 marks in mathematics

In [16]:
len(student)

2

In [17]:
for i in student:
    print(i,len(student[i]))

Gary 2
Martina 2

In [18]:
for i in student:
    print(student[i])

{'mathematics': 85, 'Science': 76}
{'mathematics': 98, 'Science': 99}

In [45]:
Subjects=[]
for i in student['Martina']:
    Subjects.append(i)
for i in Subjects:
    Marks = []
    for j in student:
        Marks.append(student[j][i])
    print(i,max(Marks))

mathematics 98
Science 99

In [28]:
Subjects

['mathematics', 'Science']

In [42]:
for i in Subjects:
    Marks = []
    for j in student:
        Marks.append(student[j][i])
    print(i,max(Marks))

mathematics 98
Science 99

In [63]:
def square(x):
    sqrt=x*x
    return(sqrt)
    
square(5)

25

In [70]:
square = lambda x: x*x

In [71]:
square(3)

9

In [79]:
addition = lambda x,y: x+y

In [80]:
addition(2,6)

8

In [87]:
def Greater(x):
    if x > 15:
        print('Greater than 15')
    else:
        print('Lesser')
        
Greater(70)

Greater than 15

In [89]:
Larger = lambda x:'Greater than 15' if x > 15 else 'Lesser'

Larger(20)

'Greater than 15'

In [93]:
wht= lambda x,y: True if x+y<10 else False

wht(2,7)

True

In [94]:
def redt(x,y):
    if x+y < 10:
        return(True)
    else:
        return(False)

In [95]:
redt(2,7)

True

# Exception Handling

In [7]:
def age():
    try:
        x=input("Enter Age:")
        y=int(x) + 25
        print(y)
    except:
        print("Enter Number")
        age()

age()

Enter Age:26
51

In [8]:
try:
    print(a)
except:
    print('Define a')

Define a

In [11]:
try:
    print('come')
except:
    print('I Love you')

come

# Type Error

In [23]:
x=2
y='Hi'
try:
    print(x + y)
except TypeError:
    print('Both should be numbers')
finally:
    print('Finished')

Both should be numbers
Finished

# Value Error

In [25]:
x='Hello'
try:
    print(int(x))
except ValueError:
    print('Enter No.')
finally:
    print('Finished')

Enter No.
Finished

# ZeroDivisionError

In [29]:
x = 2
y = 0
try:
    print(x/y)
except ZeroDivisionError:
    print('Cannot be divided by zero')
finally:
    print('Finished')

Cannot be divided by zero
Finished

# Raise Exception

In [40]:
l1=[1,2,3,4]
x=4
if x not in l1:
    raise Exception('x not in List')
l1.index(x)

if y not in range(0,len(l1)-1):
    raise Exception('index is not i range')
    
l1[y]

1

In [36]:
l1.index(4)

3

In [41]:
# NUMPY

In [42]:
import numpy as np