In [1]:
age = 20
age = 30
price = 19.95
first_name = 'mosh'
is_online = False
print(age)
print(price)
print(first_name)
print(is_online)
print("Hello World!")

30
19.95
mosh
False
Hello World!

**EXERCISE**
1. We check in a patient named John Smith
2. He is 20 years old
3. He is a new patient
Declare a variable to store the values

In [2]:
Patient = "We check in a patient named John Smith"
print(Patient)
age = "He is 20 years old"
print(age)
New_patient = "He is a new patient"
print(New_patient)

We check in a patient named John Smith
He is 20 years old
He is a new patient

# **String Concatenation**

In [3]:
name = input("What is your name? ")
print("Hello " + name)

What is your name? Christian
Hello Christian

In [25]:
birth_year = input("Enter your birth year: ")
age = 2022 - int(birth_year)
print(age)

Enter your birth year: 1996
26

**These are built in functions for conventing the type of out variables:** int(), float, bool() and str()

In [26]:
First = 10.1
Second = 20
sum = float(First) + int(Second)
print(sum)

30.1

In [29]:
First = input("First: ")
Second = input("Second: ")
sum = float(First) + int(Second)
print(sum)

First: 10.1
Second: 20
30.1

In [30]:
First = input("First: ")
Second = input("Second: ")
sum = float(First) + int(Second)
print("Sum: " + str(sum))

First: 10.1
Second: 20
Sum: 30.1

In [32]:
First = float(input("First: "))
Second = float(input("Second: "))
sum = First + Second
print("Sum: " + str(sum))

First: 10.1
Second: 20
Sum: 30.1

In [45]:
course = 'Python for Beginners'
a = course.upper()
b = course.lower()
c = course.find("for")
d = course.replace('for', '4')
print('Python' in course)
print(a)
print(b)
print(c)
print(d)

True
PYTHON FOR BEGINNERS
python for beginners
7
Python 4 Beginners

# Arithmetic Operators

In [53]:
print(10 + 3) # Addition
print(69 - 6) # Substraction
print(10 * 4) # Multiplication
print(50/5) # Division for float functions
print(50//5) # Division for integer functions
print(10%3) # Modulus operation (it returns the remainder of divisions)
print(10**2) # The exponent operator

13
63
40
10.0
10
1
100

In [57]:
x = 10
x = x + 3
x += 3 # Augmented assignment operator 
print(x)

16

# Comparison Operators
**>, >=, <, <=, ==, !=**

# Logical Operators
**or, and, not**

In [60]:
price1 = 5
print(price1 > 10 or price1 < 30)

True

In [65]:
price2 = 4
print(not price2 > 10)

True

# If Statement

**Exercise**

In [85]:
temperature = 30
if temperature > 30:
    print('It\'s a hot day')
    print("Drink plenty of water")
elif temperature > 20: # (20, 30]
    print("It's a nice day")
elif temperature > 10: # (10, 20]
    print("It's a bit cold") 
else:
    print("It's cold")
print("Done")

It's a nice day
Done

In [99]:
weight = float(input("Weight1: "))
unit = input( "(K)g or (L)bs: ")
if unit.upper() == "K":
    converted = weight / 0.45
    print("Weight1 in Lbs: " + str(converted))
else:
    converted = weight * 0.45
    print("Weight1 in Kgs: " + str(converted))

Weight1: 76.5
(K)g or (L)bs: k
Weight1 in Lbs: 170.0

In [100]:
weight = int(input("Weight1: "))
unit = input( "(K)g or (L)bs: ")
if unit.upper() == "K":
    converted = weight / 0.45
    print("Weight1 in Lbs: " + str(converted))
else:
    converted = weight * 0.45
    print("Weight1 in Kgs: " + str(converted))

Weight1: 170
(K)g or (L)bs: l
Weight1 in Kgs: 76.5

# While-loop in Python

In [106]:
i = 1
while i <= 10:
    print(i * "*")
    i = i + 1

*
**
***
****
*****
******
*******
********
*********
**********

# List

In [112]:
names = ["John", "Bob", "Mosh", "Sam", "Mary"]
names[0]="Jon"
print(names[0:3])
print(names)

['Jon', 'Bob', 'Mosh']
['Jon', 'Bob', 'Mosh', 'Sam', 'Mary']

# List Methods

In [121]:
numbers = [1,2,3,4,5]
numbers.append(6)
numbers.insert(-1, 7) # firstly, indicate the position you want then insert the value
numbers.remove(3) # removing an item in the list
numbers.clear()  # to delete everything in the list
print(numbers)

[]

In [122]:
numbers = [1,2,3,4,5]
print(1 in numbers)

True

In [124]:
numbers = [1,2,3,4,5]
print(len(numbers))

5

# For Loops

In [125]:
numbers=[1,2,3,4,5]
for item in numbers:
        print(item)

1
2
3
4
5

In [127]:
numbers=[1,2,3,4,5]
i=0
while i < len(numbers):
    print(numbers[i])
    i=i+1

1
2
3
4
5

# The range () Function

In [135]:
numbers = range(5, 10, 2)
for number in numbers:
    print(number)

5
7
9

# Tuples

In [138]:
numbers = (1, 2, 2, 2, 3) # We use ( ... ) to define a tuples while [ ... ] to define a list
numbers.count(2)

3